<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${text}">Title</title>
  <link href="/css/style.css" rel="stylesheet" />

</head>
<body>

<section class="notice">
  <div class="page-title">
    <div class="container">
      <h3>공지사항</h3>
    </div>
  </div>

  <!-- board seach area -->
<!--  <div id="board-search">-->
<!--    <div class="container">-->
<!--      <div class="search-window">-->
<!--        <form action="">-->
<!--          <div class="search-wrap">-->
<!--            <label for="search" class="blind">공지사항 내용 검색</label>-->
<!--            <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">-->
<!--            <button type="submit" class="btn btn-dark">검색</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- board list area -->
  <div id="board-list">
    <div class="container">
        <form>
          <table class="board-table">
            <tbody>
            <tr>
              <td>제목</td>
              <th>
                <input type="text" name="title" th:value="${data?.title}">
              </th>
            </tr>
            <tr>
              <td>작성자</td>
              <th >
                <input type="text" name="name" th:value="${data?.name}"></input>
              </th>
            </tr>
            <tr>
              <td>내용</td>
              <th>
                <input type="text" name="contents" th:value="${data?.contents}"></input>
              </th>
            </tr>
            </tbody>
          </table>
          <input type="hidden" name="id" th:value="${data?.id}">
          <a class="btn btn-dark" th:onclick="send()">저장</a>
          <a class="btn btn-dark" th:href="@{/notice/list}">취소</a>
        </form>
    </div>
  </div>
</section>
</body>
<script type="text/javascript">
  function send (){
    let params = {
      id: null,
      title: null,
      name: null,
      contents: null
    };

    document.querySelectorAll('form input').forEach((e) => {
      if("id" === e.name) params.id = "" ===e.value ? null : e.value;
      if("title" === e.name) params.title = e.value;
      if("name" === e.name) params.name = e.value;
      if("contents" === e.name) params.contents = e.value;
    });
    let url = "/notice/save";
    let method = "POST";
    if(null != params.id){
      url = "/notice/update/"+ params.id;
    }
    fetch(url, {
      method: method,
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(params),
    }).then((response) => {
      if(response.ok) location.href = "/notice/list";
    });
  }
</script>
</html>